
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>

<body style="background-image: linear-gradient(to top, #feada6 0%, #f5efef 100% ) ;
 background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;">




<nav class="navbar navbar-inverse" style="background-color: #4d004d;">
  <div class="container-fluid">
    <div class="navbar-header">

            <button type="button" data-toggle="collapse" class="navbar-toggle"
            data-target="#mydiv">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

        </button>
        </div>

 <div id="mydiv" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="#">Blog</a>


      <li><a href=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="/about"><span class="glyphicon glyphicon-user"></span> About</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>


    </ul>
  </div>
  </div>
</nav>

<div class="container">
  <div>
    <h1 style="font-style:italic; text-decoration:underline;"><b>Welcome!!!!</b></h1>
  </div>

  </div>





<div class="form-group" >
        <div class="container"style= "margin-left:200px; margin-top: 50px;margin-left:200px; ">

        <div class="row" >
        <div class="col-md-6 offset-md-6 text-center bg-success">
            <h3 style="text-align: center;">Admin Login</h3>




<form action="login" class="form-horizontal" method="POST">
     <label>Username </label>
     <input type="text"class="form-control" name="uname" placeholder="Username">



         <label>Password</label>
     <input type="password"class="form-control" name="pass1" placeholder="Password">




            <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-success" style="margin-top:10px;">Submit</a></button>
        </div>
            </div>

</form>


        </div>
        </div>
</div>
</div>


</body>
</html>






