<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>

<body style="background-color: #ebebe0;">
<div class="form-group" >
        <div class="container"style="margin-left:400px; margin-top: 50px; ">

        <div class="row" >
        <div class="col-md-6 offset-md-6 text-center bg-success">
            <h3 style="text-align: center;">User Registration</h3>




<form action="register" class="form-horizontal" method="POST">
     <label>First Name</label>
     <input type="text"class="form-control" name="fname" placeholder="First Name">


 <label>Last Name</label>
     <input type="text"class="form-control" name="lname" placeholder="Last Name">


     <label>Username</label>
     <input type="text"class="form-control" name="uname" placeholder="Username">



 <label>Email</label>
     <input type="email"class="form-control" name="email" placeholder="Email">


     <label>Password</label>
     <input type="password" class="form-control" name="pass1" placeholder="Password">

     <label>Confirm Password</label>
     <input type="password"class="form-control" name="cpass1" placeholder="Confirm Password">






            <button type="submit" class="btn btn-success" style="margin-top:10px; margin-bottom:10px;">Submit</button>
    <p><a href="/login">If already have an account,'Please Login'</a>  </p>


</form>

        </div>
        </div>
        </div>
</div>




</body>
</html>




